.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.forms-page-wrapper {
  width: 700px;
  display: flex;
  min-height: 80vh;
  margin: 0 auto;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 25px;
  flex-direction: column;
  width: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(71, 255, 254);
  color: #ffffff;
  opacity: 0.2;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.form-item-button:hover {
  opacity: 0.3;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
